*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background: url(photo.jpg);
    background-size:cover;
    height: 100vh;
}

.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}

.sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255,0.1);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.4);
    left: -300px;
    transition: all 0.3s linear ;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3);
    line-height: 60px;
    height: 60px;
}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.sidebar_menu .btn_two{
    color: grey;
    position: absolute;
    left: 275px;
    font-size: 25px;
    line-height: 65px;
    opacity: 0;
}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i,a{
    text-decoration: none;
    color: white;
}

.sidebar_menu .menu i{
    padding-right: 10px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.sidebar_menu .social_media i{
    padding: 0 5px;
    opacity: 0.5;
    color: white;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.sidebar_menu .btn_two i:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btn_one i:hover{
    cursor: pointer;
    font-size: 40px;
}

.sidebar_menu .social_media  i:hover{
    transform: scale(1.1);
    opacity: 1 ;
}

#check:checked ~ .sidebar_menu {
    left: 0px;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two {
    opacity: 1;
}