body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: rgb(159, 68, 68);
}

.yellow{
    background-color: rgb(157, 157, 86);
}

.purple{
    background-color: rgb(111, 56, 111);
}

.green{
    background-color: rgb(78, 130, 78);
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: rgb(98, 255, 121);
}

.hiScore{
    border: 2px solid black;
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 10px;
}

.hiScore h5{
    color: white;
    margin: 5px;
}