body{
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    margin: 0;
}

.main{
    display: flex;
    height: 100vh;
    margin: 0.5rem;
}

.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.25rem 0 1.25rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    height: 100px;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;

}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
} 

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin: 1rem;
}
.icons i:hover{
    opacity: 1;
}

.box{
    background-color: #212121;
    border-radius: 0.5rem;
    margin: 1rem 0 1.75rem 0;
    padding: 0.25rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}

.box-p2{
    font-size: 0.75rem;
    opacity: 0.89;
}

.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    padding: 0.25rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
    width: fit-content;
}

.badge-dark{
    background-color: #000;
    color: #fff;
}

.sticky-nav{
    background-color: #121212;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.sticky-nav-icons{
    margin-left: 1rem;  
}

.sticky-nav-options{
    margin-right: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sticky-nav-options i{
    margin-right: 0.25rem;
}

.nav-item{
    margin-right: 0.75rem;
}

@media (max-width:1000px) {
    .hide{
        display: none;
    }
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    
}

.card-img{
    border-radius: 0.5rem;
    width: 100%;
}

.card-title{
    font-weight: 700;
}

.card-text{
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    height: 50%;
    width: 90%;
    border-top: 2px solid #fff;
    opacity: 0.4;
}

.music-player{
    justify-content: space-evenly;
    /* align-items: center;         */
}



.music-playback{
    width: 50%;
    margin-top: 0.7rem;
}



.music-player-icon{
    height: 1rem;
    margin-right: 2rem;
    opacity: 0.7;
}

.music-player-icon:hover{
    
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.progress-bar{
    width: 80%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #bbb;
    height: 0.2rem;
    border-radius: 20px;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    margin-top: -5px;
}

.album{
    width: 25%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.album-img{
    height: 75%;
    width: 75%;
    object-fit: contain;
    margin-left: -20rem; 
    border-radius: 100px;
    
}

.album-name{
    font-size: 0.75rem;
    /* margin-right: 5rem; */
    /* position: relative; */
    position: relative;
    margin-left: -7rem;
}
.album-name-song{
    font-weight: 500;
}
.album-singer{
    opacity: 0.7;
}

.album-icon{
    position: relative;
    left: 8rem;
}

.control{
    width: 25%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-icons-i{
    margin-right: 1rem;
    opacity: 0.7;
}

.control-icons-i:hover{
    cursor: pointer;
    opacity: 1;
}



.control-volume{
    appearance: none;
    cursor: pointer;
}

.control-volume::-webkit-slider-runnable-track{
    /* appearance: none;    */
    background-color: #ddd;
    height: 0.2rem;
    border-radius: 20px;
}

.control-volume::-webkit-slider-thumb{
    appearance: none;
    background-color:#1bd760;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    margin-top: -5px;
}